@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css");

html                    { overflow-y: hidden; scrollbar-width: none; }
body::-webkit-scrollbar { display: none; }

body         { background-color: #121212; font: 1.25rem "Source Sans Pro", sans-serif; line-height: 1.5; color: #fff; margin: 0px; overflow: hidden; }
body h1      { color: #fff; font: 3rem   "Inter Tight", sans-serif; }
body h2      { color: #fff; font: 2.5rem "Inter Tight", sans-serif; }
body h3      { color: #fff; font: 2rem   "Inter Tight", sans-serif; }
body h4      { color: #fff; font: 1.5rem "Inter Tight", sans-serif; margin: .3rem;}
body a       { text-shadow: 0px 0px 5px #0070F3; text-decoration: none; color: #0070F3; transition: 200ms; }
body a:hover { text-shadow: 0px 0px 5px #3292FF; padding-left: 10px; padding-right: 10px; color: #3292FF; }
body p       { color: #fff; margin: .3rem;}
body hr      { border: none; border-top: 2px solid #202124; box-shadow: 0px 2px 10px #202124; }
body button  { --color: #fff; background-color: var(--color); color: #000; padding: 10px; border-radius: 7px; font-family: "Inter Tight", sans-serif; border: 2.5px solid var(--color); transition: 0.25s; cursor: pointer; }
body button:hover   { color: #fff; background-color: transparent; }
body textarea       { resize: none; tab-size: 4; }
body input[type="checkbox"]         { --color: #fff; accent-color: #fff; transition: 0.25s; width: .85rem; height: .85rem; }
body input[type="checkbox"]:checked { accent-color: #202124; }
body input[type="checkbox"]:hover   { accent-color: var(--color); }
#stdout      { border-radius: .35rem; text-align: left; background-color: #1d1d1d; margin: 2rem 2rem 2rem 0; padding: .5rem; height: 83vh; font: 1rem 'Fira Code'; grid-area: o; overflow: auto; white-space: pre-wrap; tab-size: 4; }
#code_input  { border-radius: .35rem; text-align: left; background-color: #1d1d1d; margin: 2rem 0 2rem 2rem; padding: .5rem; height: 83vh; font: 1rem 'Fira Code'; grid-area: c; overflow: auto; color: transparent; caret-color: #fff; border: none; outline: none; overflow: auto; }
#code_input::selection  { color: transparent; background-color: #1b5754; }
#highlight   { font: 1rem 'Fira Code'; position: absolute; padding: .5rem; pointer-events: none; white-space: pre-wrap; tab-size: 4; }

nav          { background-color: #202124; padding: 10px; text-align: center; }
main         { background-color: #121212; text-align: center; padding: 0; display: grid; grid-template: "c o" "c o"; grid-auto-columns: 1fr 1fr; margin: 0; align-items: center; gap: 2rem; }

#settings_sec       { opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #121212; z-index: -999; pointer-events: none; transition: .25s; }
.section            { background-color: #202124; margin: 2rem; padding: 1rem; border-radius: .25rem; }

.urclred { --color: #cd2d0a !important; }
.red     { --color: #E57474 !important; }
.green   { --color: #8CCf7E !important; }
.blue    { --color: #67b0e8 !important; }
.yellow  { --color: #E5C76B !important; }
.magenta { --color: #C47FD5 !important; }

span.white, span.unknown, span.left-square, span.right-sqare, span.comparison   { color: #FFFFFF; }
span.string, span.char, span.text   { color: #e08f43; }
span.port, span.int                 { color: #8CCf7E; }
span.memory     { color: #79B1EB; }
span.escape     { color: #d8b542; }
span.error      { color: #da351f; }
span.reg        { color: #FFAB70; }
span.name       { color: #E57474; }
span.macro      { color: #d980f0; }
span.label      { color: #E5C76B; }
span.comment    { color: #579457; }